* {
    box-sizing: border-box;
  }
  
body{
    background-color: #992020;
}
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #273b57;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Style for the heading within the navigation bar */
  .heading h4 {
    color: #c6d4e8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0;
  }
  
  /* Style for the navigation links */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  /* Style for individual navigation items */
  .nav-links li {
    margin-right: 20px;
  }
  
  /* Style for navigation links */
  .nav-links a {
    color: #c6d4e8;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  /* Style for the active navigation link */
  .nav-links a.active {
    background-color: #992020;
  }
  
  /* Hover effect for navigation links */
  .nav-links a:hover:not(.active) {
    background-color: #ffe5ce;
  }
  
  .container {
    padding: 20px;
}

.id-card {
    background-color: #ffe5ce;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.id-photo {
    flex: 1;
    text-align: center;
}

.id-photo img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.id-text {
    flex: 2; 
    padding: 20px;
}

.id-text p {
    font-family: 'Courier New', Courier, monospace;
}

.socialpage {
    padding: 20px;
    background-color: #273b57;
    margin: 20px auto;
    border-radius: 5px;
    align-items: center;
}

.image-box {
    display: inline-block;
    color: #273b57;
    margin: 10px;
    text-align: center;
}

.image-box img {
    max-height: 200px;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.image-text {
    margin-top: 10px;
    color: #c6d4e8;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
    float: left;
    padding: 15px;
    background-color: #ffe5ce;
  }

  .education {
    width: 75%;
    float: left;
    padding: 15px;
    background: #273b57;
  }

@media (max-width: 576px) {
    .id-card {
        flex-direction: column; 
        max-width: 100%; 
    }

    .id-photo,
    .id-text {
        flex: none; 
        max-width: 100%; 
    }

    .id-text {
        padding: 10px; 
    }

    .heading h4 {
        font-size: 18px;
      }
    
      .nav-links a {
        font-size: 14px;
        padding: 8px 0;
      }
    
}


  /* Media query for tablets */
  @media (max-width: 768px) {
    .heading h4 {
      font-size: 20px;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .nav-links a {
      padding: 10px 0;
    }
  }
  